<h1>Stores within 25 miles of <%= @zip_code %></h1>
<h2><%= @response[:total] %> Total Stores</h2>
<% @response[:stores].each do |store| %>
  <div>
    <p>Long Name: <%= store[:name] %></p>
    <p>City: <%= store[:city] %></p>
    <p>Distance: <%= store[:distance] %></p>
    <p>Phone Number: <%= store[:phone] %></p>
    <p>Store Type: <%= store[:storeType] %></p>
  </div>
<% end %>
